
h1{
    font-size: 200%;
    text-align: center;
}
h2, h3{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.whiteborder{
    border: solid;
    border-color: white;
    border-width: 2px;
}
body{
    background-color: rgb(127, 31, 252);
    margin-top: 0;
}
p{
    font-size: 24px;
    text-align: justify;
    margin-left: 24px;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.content{
    width: 80%; 
    background-color: rgb(150, 150, 150); 
    padding-top: 0;
    border: solid;
    border-width: 3px;
    border-color: white;
}

/* Animação imagem - intrudução basica */
@keyframes moveleft {
    from {left: 50%} 
    to {left: 0}
}
@keyframes moveright {
    from {right: 50%}
    to {right: 0}
}
div.ibnt{ /* "Introdução Basica No Topo" - IBNP */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p.ibnt{
    font-size: 20px;
    text-align: left;
}
.moveleft{ /* Movimento do meio para a esquerda */
    @media screen and (min-width: 1016px) {
        position: relative;
        left: 0;
        animation-name: moveleft;
        animation-duration: 3s;
        z-index: 1;
    }
}
.moveright{ /* Movimento do meio para a direita */
    @media screen and (min-width: 1016px) {
        position: relative;
        right: 0;
        animation-name: moveright;
        animation-duration: 3s;
    }
}