body{
    background-color: rgb(127, 31, 252);
}
.introducao{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
div.introducao > div{
    max-width: 450px;
    min-width: 350px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(150, 150, 150);
    border: solid;
    border-width: 3px;
    border-color: white;
}
h2{
    font-size: 200%;
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
}
p{
    font-size: 24px;
    text-align: justify;
}
button.pesquisar{
    width: 175px;
    height: 50px;
    font-size: 24px;
}
img.whiteborder{
    border: solid;
    border-color: white;
    border-width: 2px;
}